@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&display=swap');

$ff-secondary: 'Changa', sans-serif;

html, body {
  user-select: none;
  scroll-behavior: smooth;
  #__next{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

::-webkit-scrollbar{
  height: 0;
  width: 0;
}


// ************************************** Mixins
@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  padding: 5px 20px;
  transition: all 0.4s linear;
  color: whitesmoke;
  text-shadow: 0 0 4px black;
  border: 2px solid transparent;
}


// ************************************** components
.footer{
  background-color: #12181f;
  color: #e3e3e3;

  .para-links{
    flex: 1;
    font-weight: 400;
    font-family: $ff-secondary;
    justify-content: space-around;
    font-size: 1.4rem !important;
    
  }
  .icons{
    // max-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    .icon{
      border: 4px solid transparent;
      border-radius: 50%;
      padding: 5px;
      border-color: inherit;
      font-size: 1.6rem;
    }
  }
}

.header{
  background-color: black;
  min-height: 80px;
  color: #fff;
  position: fixed;
  z-index: 50;
  top: 0;left: 0;
  width: 100%;
  font-family: $ff-secondary;
  font-weight: 400;
  .icons{
    .icon{
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 4px;
      font-size: 0.8rem;
      &:nth-of-type(1){
        animation: pulse-shadow 1.5s ease infinite alternate;
      }
    }
  }
  @keyframes pulse-shadow {
    from{
      box-shadow: 0 0 1px 1px green;
    }
    to{
      box-shadow: 0 0 10px 4px green;
    }
  }

  .btn{
    @include button();
    &.blue{
      background-image: linear-gradient(180deg,#033047,#91dbff) !important;
      border-color: #91dbff;
      &:hover{
        box-shadow: 0 0 20px 2px #91dbff;
      }
    }
    &.green{
      background-image: linear-gradient(180deg, #033047, #13c477) !important;
      border-color: #13c477;
      &:hover {
          box-shadow: 0 0 20px 2px #13c477;
        }
    }
  }

  .download-buttons-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%);
    button{
      height: 50%;
      width: 100%;
      font-weight: 600;
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      padding: 5px 8px;
      &:nth-of-type(1){
        background: linear-gradient(90deg, #024675 0, #007ce5 36%, #0082f3 41%, #0083f5 44%, #007fec 49%, #0175d7 56%, #03324b);
      }
      &:nth-of-type(2){
        background: linear-gradient(90deg, #9c2b00 0, #e45600 33%, #f05d00 40%, #f35f00 46%, #ee5c00 50%, #dc5100 60%, #841d00);
      }
      &:hover{
        filter: brightness(1.2);
      }

      .badge{
        background-color: orangered;
        color: white;
        border-radius: 6px;
        padding: 2px 4px;
      }

    }
  }
}


.hero{
  $video-height: 1000px;

  margin-top: 80px;
  position: relative;
  height: $video-height;
  overflow: hidden;
  
  .video-slider{
    min-height: $video-height;
    .item{
      video{
        width: 100%;
        min-height: $video-height;
        object-fit: cover;
      }
      .img{
        height: 0 !important;
      }
    }
  }

  .img-stack{
    position: absolute;
    top: 2rem;right: 1rem;
  }

  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;

    .hero-bbg-text{
      color: white;
      font-size: 1.4rem;
      text-shadow: 0 0 4px #0fffff;
      border-bottom: 4px solid transparent;
      border-image: linear-gradient(90deg, #13c477, transparent) 1 0;
    }


    .h-btn{
      position: relative;
      cursor: pointer;
      .t{
        position:absolute;
        top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      }
    }
  }
}

.hero-footer{
  background: linear-gradient(90deg, #555 0, #888 50%, #555);
  position: relative;
  // top: -65px;
  img{
    max-width: 100px;
  }
}

.vr-world{
  background: url('../media/buildingbg.png') no-repeat center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 2px 10px rgb(145 219 255 / 75%);

  .g-item{
    position: relative;
    .left{
      position: absolute;
      bottom: -80px;
      right: -100px;
    }
    .right{
      position: absolute;
      bottom: -80px;
      left: -100px;
    }
  }
}


.available-now{
  color: #fff;
  text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
  border: 2px solid #91dbff;
  background: linear-gradient(90deg, rgba(145, 219, 255, 0) 0, rgba(145, 219, 255, .5) 50%, rgba(145, 219, 255, 0)), url('../media/buildingbg.png') no-repeat center;
}

.in-game, .partners{
  background: url('../media/buildingbg.png') no-repeat center;
  background-size: cover;
  color: #fff;
  
  .t-shadow{
    text-shadow: 0 2px 10px rgb(145 219 255 / 75%);
  }
  .t-blue{
    color: #b9e7ff;
  }
}



// ************************************** overrides
.hero{
  .video-slider{
    .thumbs{
      background-color: rgba(0, 0, 0, 0.699);
      padding: 10px 20px;
      padding-left: 100px;
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
      position: absolute;
      right: 0;
      bottom: 45px;
    }
    @media only screen and (max-width: 800px){
      .thumbs{display: none;}
    }
    .control-dots{
      bottom: 12px;
      width: 300px;
      background-color: rgba(116, 177, 208, .9058823529411765);
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
      padding: 30px 20px;
      .dot{
        height: 12px !important;
        width: 12px !important;
        background-color: #00000041 !important;
    }
    }
  }
}



// ************************************** utils
