@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&display=swap');

$ff-secondary: 'Changa', sans-serif;

html, body {
  user-select: none;
  scroll-behavior: smooth;
  #__next{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

::-webkit-scrollbar{
  height: 0;
  width: 0;
}


// ************************************** Mixins
@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  padding: 5px 20px;
  transition: all 0.4s linear;
  color: whitesmoke;
  text-shadow: 0 0 4px black;
  border: 2px solid transparent;
}


// ************************************** components
.footer{
  background-color: #12181f;
  color: #e3e3e3;

  .para-links{
    flex: 1;
    font-weight: 400;
    font-family: $ff-secondary;
    justify-content: space-around;
    font-size: 1.4rem !important;
    
  }
  .icons{
    // max-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    .icon{
      border: 4px solid transparent;
      border-radius: 50%;
      padding: 5px;
      border-color: inherit;
      font-size: 1.6rem;
    }
  }
}

.header{
  background-color: black;
  min-height: 80px;
  color: #fff;
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  font-family: $ff-secondary;
  font-weight: 400;
  .icons{
    .icon{
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 4px;
      font-size: 0.8rem;
      &:nth-of-type(1){
        animation: pulse-shadow 1.5s ease infinite alternate;
      }
    }
  }
  @keyframes pulse-shadow {
    from{
      box-shadow: 0 0 1px 1px green;
    }
    to{
      box-shadow: 0 0 10px 4px green;
    }
  }

  .btn{
    @include button();
    &.blue{
      background-image: linear-gradient(180deg,#033047,#91dbff) !important;
      border-color: #91dbff;
      &:hover{
        box-shadow: 0 0 20px 2px #91dbff;
      }
    }
    &.green{
      background-image: linear-gradient(180deg, #033047, #13c477) !important;
      border-color: #13c477;
      &:hover {
          box-shadow: 0 0 20px 2px #13c477;
        }
    }
  }

  .download-buttons-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%);
    button{
      height: 50%;
      width: 100%;
      font-weight: 600;
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      padding: 5px 8px;
      &:nth-of-type(1){
        background: linear-gradient(90deg, #024675 0, #007ce5 36%, #0082f3 41%, #0083f5 44%, #007fec 49%, #0175d7 56%, #03324b);
      }
      &:nth-of-type(2){
        background: linear-gradient(90deg, #9c2b00 0, #e45600 33%, #f05d00 40%, #f35f00 46%, #ee5c00 50%, #dc5100 60%, #841d00);
      }
      &:hover{
        filter: brightness(1.2);
      }

      .badge{
        background-color: orangered;
        color: white;
        border-radius: 6px;
        padding: 2px 4px;
      }

    }
  }
}




// ************************************** overrides





// ************************************** utils
